.dashboard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.dashboard> :not(:last-child) {
    margin-bottom: 1rem;
}

.dashboard-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.dashboard-card {
  padding: 1rem;
}

@media (max-width: 768px) {
    .dashboard-stats {
        grid-template-columns: 1fr;
    }
}