.income {
  padding: 12px;
  margin-bottom: 10px;
  border: 2px solid green;
  border-radius: 8px;
}

.expense {
  padding: 12px;
  margin-bottom: 10px;
  border: 2px solid red;
  border-radius: 8px;
}